body{
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    padding: 1%;
    
}


.flexible-section{
    display: flex;
   
    

}
.flexible-section img{
    width: 100%;
}
.flexible-section h1{
    width: 70%;
}
.flexible-section p{
    font-size: 20px;
    color: #575757;
   
}
.flexible-section a{
    background-image: linear-gradient(#FD5030,#FB9249);
    text-decoration: none;
    border-radius: 30px;
    color: white;
    padding: 13px 30px;
    font-size: 15px;
   
}
.orange{
    color: orange;
}
.header-color{
    color: #575757;
}
.second-text{
  margin-left: 20%;
  color: #575757;
    
}
#section2id{
    background-image: url(image/Frame\ 581.jpg);
    background-repeat: no-repeat;
   
}
.section-no-3{
    text-align: center;
    color: #575757;
    line-height: 0%;
}
.section-no-3 p{
    font-size: 20px;
    line-height: 0px;
}

.box-main-div{
    box-shadow: 2px 2px 2px 2px  #e2e2e2;
    border-radius: 5%;
    padding:20px 20px 20px 20px;
    width: 290px;
    height: 400px;
    margin-left: 88px;
    border-style: none;

}

#img02{
    
    height: 220px;
}
.box-section{
    display: flex;
}
.box-main-div p{
    line-height: 23px;
    font-size: 25px;
    color:  #575757;
}
.section-no-3{
    padding: 50px;
}
.box-section{
    background-color: #fdfcfc;
    padding: 55px;
}
.last-section{

    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 10px 10px 10px 10px  #e2e2e2;
    
}
.text7{
   
text-align: center;
float: left;
  width: 33.33%;
  padding: 50px;
}