body{
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    padding: 0;
    margin: 0;
    
}


.flexible-section{
    display: flex;
    padding: 1%;
   
    

}
.flexible-section img{
    width: 100%;
}
.flexible-section h1{
    width: 70%;
}
.flexible-section p{
    font-size: 20px;
    color: #575757;
   
}
.flexible-section a{
    background-image: linear-gradient(#FD5030,#FB9249);
    text-decoration: none;
    border-radius: 30px;
    color: white;
    padding: 13px 30px;
    font-size: 15px;
   
}
.orange{
    color: orange;
}
.header-color{
    color: #575757;
}
.second-text{
  margin-left: 20%;
  color: #575757;
    
}
#section2id{
    background-image: url(image/Frame\ 581.jpg);
    background-repeat: no-repeat;
   
}
.section-no-3{
    text-align: center;
    color: #575757;
    line-height: 0%;
}
.section-no-3 p{
    font-size: 16px;
    line-height: 25px;
}

.box-main-div{
    box-shadow: 2px 2px 2px 2px  #e2e2e2;
    border-radius: 5%;
    padding:20px 20px 20px 20px;
    width: 290px;
    height: 400px;
    margin-left: 88px;
    border-style: none;

}

#img02{
    
    height: 220px;
}
.box-section{
    display: flex;
}
.box-main-div p{
    line-height: 25px;
    font-size: 16px;
   color: dimgray;
}
.section-no-3{
    padding: 50px;
}
.box-section{
    background-color: #fdfcfc;
    
}
section.last-section {
    padding: 80px 0px;
}

.container {
    width: 1140px;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 0 10px #ababab;
    border-radius: 15px;
}

.social-box {
    width: 300px;
    float: left;
    margin-right: 80px;
    text-align: center;
}
p{
    font-size: 16px;
    padding-bottom: 30px;
}
footer h1{
    font-size: 25px;
    
}
footer{
    
    background-color: #0B0D17;
    margin: 0;
    padding: 0;
   
    

}
#footer{
    text-align: center;
   
    padding-top: 20px;
    padding-bottom: 50px;
    
    

}
footer p{
    color: floralwhite;
}
footer span{
    color: gray;
}



